doctype html
html
  head
    link(href='style.css', rel='stylesheet')
  body
    header
      h1
        a(href="./") ^3
      nav(id="header-nav")
        ul
          for item in config.nav
            li
              a(href=item[1]) #{item[0]}
    - var v = Math.floor(Math.random() * config.quotes.length);
    h2(id="quote")=config.quotes[v]
    div(id='content')
      block content
    footer
      span localhost:3000 ©2017 Us
      nav(id="footer-nav")
        ul
          for item in config.nav
              li
                a(href=item[1]) #{item[0]}