doctype html
html
  head
    link(href='style.css', rel='stylesheet')
  body
    header
      span(id="website-name")
        a(href="./") A fancy website name ^3
      nav(id="header-nav")
        div(class="nav-container")
          ul
            for item in config.nav
              a(href=item[1])
                li #{item[0]}
    - var v = Math.floor(Math.random() * config.quotes.length);
    div(id='quote-div')
      h2(id="quote")=config.quotes[v]
        sup TM
    article(id="body")
      div(id='content')
        block content
    footer
      div(id="footer-left")
        h4 localhost:30000 is a restaurant dedicated to serving the best.
        span localhost:3000 ©2017 Us
      div(id="footer-right")

        nav(id="footer-nav")
          ul
            for item in config.nav
                li
                  a(href=item[1]) #{item[0]}